{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset</h3>

            <p>Enter your email address below to reset your password</p>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <input class="btn btn--sub btn--sm  my-md" type="submit" value="Reset" />
            </form>
        </div>
    </div>
</main>
{% endblock %}