{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{profile.profile_image.url}}" />
                        <h2 class="dev__name">{{profile.name}}</h2>
                        <p class="dev__title">{{profile.short_intro}}</p>
                        <p class="dev__location">Based in {{profile.location}}</p>
                        <ul class="dev__social">
                            {% if profile.social_facebook %}
                            <li>
                                <a title="Facebook" href="{{profile.social_facebook}}" target="_blank"><i
                                        class="im im-facebook"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% if request.user.profile.id != profile.id %}
                            <a href="{% url 'account:create_message' pk=profile.id %}" class="btn btn--sub btn--lg">Send Message
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">About Me</h3>
                    <p class="devInfo__about">
                        {{profile.bio}}
                    </p>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Books</h3>
                    <table class="settings__table">
                        {% for product in profile.product_set.all %}
                        <tr>
                            <td class="settings__thumbnail">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.book_image.url }}"
                                    alt="Project Thumbnail" /></a>
                            </td>
                            <td class="settings__tableInfo">
                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                <p>
                                {{ product.description | slice:150 }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}          
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}